@tailwind base;
@tailwind components;
@tailwind utilities;

body, p, span, a, li {
  font-family: 'Outfit', sans-serif;
}


h1, h2, h3 {
  font-family: 'Clash Display', sans-serif;
  font-weight: 600; /* adjust as needed */
}